
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cambria', sans-serif;
}

.login-body{
    /* background-image: url("../../images/bcg.png");
    background-repeat: repeat;
    background-size: 375px 250px;
    position: center center; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #1c1c1d; */
}

.bcg-image{
  width: 100%;
  z-index: 1;
  background-image: transparent;
  position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: center center;
  background-repeat: no-repeat;

}


.bcg-image::after{
    z-index: -1;
    opacity: 0.6;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: url("../../images/bcg.png"); */
    /* WATER EFFECTS GIF */
    background: url('https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXQ4cjU2b294dzBwMnA1eWc5NjRoeXh3ZWVwdzh2eGlnZDNnZnVtYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mqtPFS4fEW092wPa9b/giphy.gif');
    background-size: auto;
    position: center center;
    background-repeat: repeat;
}



.wrapper{
  position: relative;
  max-width: 600px;
  width: 100%;
  background: #f4f0e8;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  font-family: 'Cambria';
}

.wrapper h2{
  position: relative;
  font-size: 36px;
  font-weight: 600;
  color: #1c1c1d;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #f0b9a5;
}

.login-notes{
    color: lightslategray;
}


.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 75px;
  margin: 18px 0px;
  padding: 10px 0px;
}

.login-form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  padding: 10px;
}
.login-form .input-box input:focus,
.login-form .input-box input:valid{
  border-color: #f0b9a5;
}
.login-form .policy{
  display: flex;
  align-items: center;
}
.login-form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #1c1c1d;
  letter-spacing: 1px;
  border: none;
  background: #f0b9a5;
  cursor: pointer;
  font-size: 24px;
}
.input-box.button input:hover{
  background: #c77d63;
}
.login-form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}   
.login-form .text h3 a{
  color: #f0b9a5;
  text-decoration: none;
}
.login-form .text h3 a:hover{
  text-decoration: underline;
}