{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BDay Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' 
    media='screen' href='{% static "styles/login.css" %}'>
    <link rel='stylesheet' type='text/css' 
    media='screen' href='{% static "styles/main.css" %}'>
</head>
<body class = 'login-body'>
<div class = "bcg-image"> 
    <div class="wrapper">
        <h2>Login</h2>
        <br>
        {% comment %} {% if messages %}
        {% for message in messages %}
        <div class = "message-{{message.tags}}">
            {{message}}
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        {% endfor %}
        {% endif %} {% endcomment %}

        <form action = "{% url 'login' %}" method = "POST" class = "login-form">
                {% csrf_token %}
          <div class="input-box">
            <input type="text" name = "username" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <input type="password" name = "password" placeholder="Enter password" required>
          </div>
          <div class="input-box button">
            <input type="Submit" value="Login">
          </div>
          <em style="color:black">Hint: Who is the best?</em>  
        </form>
    </div>
</div>
</body>
</html>
